$matchBlue: rgba(225, 224, 224, 1);
$matchRed: rgba(249, 250, 245, 1);
$blue: rgba(11, 36, 91, 1);
$onBlue: rgba(11, 36, 91, 0.8);
$red: rgba(152, 6, 58, 1);
$onRed: rgba(152, 6, 58, 0.8);

div , body{
    padding: 0;
    margin: 0;
  }
  
.container {
  font-family: "Gill Sans", sans-serif;
  //display: flex;
  //flex-flow: column;
  border:2px solid $blue;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top: 0;
  margin: 5px;
  box-sizing: content-box;

  .heading{
    background-color: $blue;
    min-height: 50px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border : 2px solid $blue;
    text-align: center;
    color:$matchBlue;
  }

  // justify-content: flex-start;
  .navigation {
    list-style: none;
    margin: 0;

    background: $matchBlue;
    display: flex;

    flex-flow: row wrap;
    justify-content: start;
  }

  .navigation a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: $blue;
  }

  .navigation a:hover {
    background: $onBlue;
    transition: 0.5s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    color: $matchBlue;
  }

  @media only screen and (min-width: 800px) {
    .navigation {
      justify-content: start;
    }
  }

  @media only screen and (max-width: 801px) {
    .navigation {
      text-align: center;
      flex-flow: column wrap;
      padding: 0;
    }

    .navigation li:last-of-type a {
      border-bottom: none;
    }
  }
  .boards {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    //align-items: center;
    .board {
    flex-grow: 1;
     //width: 40%;
      display: flex;
      flex-flow: column wrap;
      justify-content: flex-start;
      align-items: center;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      transition: 0.3s;
      margin: 10px 25px 10px 25px;
      border: 1px solid $blue;
      border-radius: 7px;
      background-color: $matchRed;
      overflow: hidden;
      @media only screen and (max-width: 600px) {

        //width: 70%;
    }
      /* Small devices (portrait tablets and large phones, 600px and up) */
      @media only screen and (min-width: 600px) {
        //width: 70%;
          }

      /* Medium devices (landscape tablets, 768px and up) */
      @media only screen and (min-width: 768px) {
        //width: 70%;
       // margin: 0;
      }

      /* Large devices (laptops/desktops, 992px and up) */
      @media only screen and (min-width: 992px) {
        //width: 40%;
      }


      /* Extra large devices (large laptops and desktops, 1200px and up) */
      @media only screen and (min-width: 1200px) {
       // width: 40%;
      }
      .name {

        //float:center;
        text-align: center;
        width: 100%;
        padding: 5px;
        margin: 0;
        background-color: $red;
        color: $matchRed;
      }
      .body {
        width: 100%;
        color: $blue;
        display: flex;
        flex-flow: row;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 20px 16px 14px;
        .member {
          color: $blue;
          //position: relative;
          //left: 10%;
          //height: 100%;
          width: 70%;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          transition: 0.3s;
          margin: 5px 5px 0 5px;
          border: 1px solid $blue;
          border-radius: 7px;
          background-color: $matchBlue;
          padding: 2px 16px 14px;
          .button {
            background-color: $blue;
            height: fixed;
            width: 100%;
            border: none;
            color: $matchBlue;
            padding: 10px 25px;
            //padding: 2px 16px 14px;
            text-align: center;
            display: inline-block;
            font-size: 16px;
            margin: 15px 0px 0px 0px;
            cursor: pointer;
            border-radius: 7px;
          }
          button:hover {
            background-color: $onBlue;
          }
        }
        .owner {
          //height: 100%;
          width: 30%;
          padding: 2px 16px 14px;
        }
      }
    }
  }
  .button {
    background-color: $red;
    height: fixed;
    width: 100%;
    border: none;
    color: $matchRed;
    padding: 15px 32px;
    //padding: 2px 16px 14px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 15px 0px 0px 0px;
    cursor: pointer;
    border-radius: 7px;
  }
  button:hover {
    background-color: $onRed;
  }
}
